body{
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}
.text2{
  font-family: 'Lato', sans-serif;
    font-family: 'Mohave', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin-top: 25px;
    font-weight: 400;
    width: 80%;
    padding-left: 30px;
    font-size: 18px;
}